.mobilestyle {
  height: 600px;
  background: url(/static/img/component/circle.svg) top left no-repeat;
  background-size: cover;
  background-size: 600px 600px;
}

.webstyle {
  height: 800px;
  background: url(/static/img/component/circle-right.svg) top right no-repeat;
  background-size: cover;
  background-size: 500px 500px;
}
